body{
    background-color: black;
    color: white;
}
h1, h2, h3, h4, h5{
    color: red;
}

aside{
    width: 30%;
    padding: 15px;
    float: right;
    font-style: italic;
    font-weight: 700;
    background-color: lightgray;
    color: black;
    background-color: aliceblue;
}

button{
    padding: 12px;
    margin-right: 12px;
    margin-top: 12px;
}
